.top{
height: 5rem;
text-align: center;
font-size: 3rem;
color: white
}
.topContainer{
    text-align: center;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding-bottom: 5rem;
}
.topContainer img{
    vertical-align: middle; 
    max-width: 100%; 
    box-shadow: 0 2px 6px rgb(255, 255, 255);
}
.topContainer img:hover{
border: 3px solid orangered;
}

@media screen and (max-width: 400px) {
    .topContainer img {
      max-width: 100%;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 500px) {
    .topContainer img {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 575.98px) {
    .topContainer img {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 800.98px) {
    .topContainer img {
      max-width: 100%;
      
    }
  }
  
  @media screen and (max-width: 1299.98px) {
    .topContainer img {
      max-width: 100%;
    }
  }
