form{
    text-align: center;
    margin-top: 5rem;
}
form input{
    height: 2rem;
    width: 30rem;
}
.searchResult{
    margin-top: 2rem;
    text-align: left;
    margin-left: 8rem;
    font-weight: 700;
    color: wheat;
}
.searchContainer{
    width: 15rem;
    display: inline-block;
    margin-left: 15rem;
    text-align: center;
    
}
.searchContainer img{
    vertical-align: middle;
    height: 23rem;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgb(255, 255, 255);
}
.searchContainer img:hover{
    border: 3px solid orangered;
}
.searchTitle{
    color: wheat;
}
.searchTitles{
    color: wheat;
}
@media screen and (max-width: 400px){
    .searchContainer img{
        margin-left: -12rem;
    }
    .searchTitles{
        margin-left: -12rem;
    }

}
@media screen and (max-width: 599px){
    .searchContainer img{
        margin-left: -12rem !important;
    }
    .searchTitles{
        margin-left: -12rem !important;
    }

}
@media screen and (max-width: 600px){
    .searchContainer img{
        margin-left: -12rem;
    }
    .searchTitles{
        margin-left: -12rem;
    }

}
@media screen and (max-width: 850px){
    .searchContainer img{
        margin-left: 2rem;
    }
    .searchTitles{
        margin-left: 2rem;
    }

}
@media screen and (max-width: 950px){
    .searchContainer img{
        margin-left: 5rem;
    }
    .searchTitles{
        margin-left: 7rem;
        text-align: center;
    }

}
@media screen and (max-width: 1100px){
    .searchContainer img{
        margin-left: -5rem;
    }
    .searchTitles{
        margin-left: -7rem;
        text-align: center;
    }

}