.genreDiv{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 2rem;
  }
  
  .card{
    border: 8px solid #fff187;
    height: 20rem;
    width: 15rem;
    margin-top: 1rem;
    text-align: center;
    position: relative;
  }
  
  .card::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/GenreCards.svg');
    background-size: cover;
    background-position: center;
    opacity: 0.4;
  }
  
  .card-text{
    position: relative;
    z-index: 1;
    line-height: 20rem;
    font-size: 2.7rem;
    color: #ffffff;
    text-decoration: none;

  }
  
  .genreTitle{
    text-align: center;
    color: white;
    padding-top: 3rem;
  }
  