.movieDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 7rem;
    justify-content: center;
    margin-left: 8rem;

}
.movieContainer{
    position: relative;
    width: 16%;
    padding-bottom: 5rem;
}
.movieTitle{
    position: absolute;
    top: 0;
    left: 0;
    width: 53%;
    padding: 5px;
    font-size: 17px;
    background-color: rgba(155, 70, 13, 0.442);
    color: rgb(252, 231, 181);
    text-align: center;
    margin-top: -3.5rem;
}
.movieContainer img {
    height: 23rem;
    border-radius: 1rem;
    border: 4px solid transparent;
  }
  
  
  
.buttonContainers{
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    height: 2rem;
    width: 100%;
    gap: 20px;
}

.front{
    height: 62.1rem;
    width: 101%;
    margin-left: -0.5rem;
  }
