body::-webkit-scrollbar{
    display: none;
}
nav{
    background-color: #ff8552;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 2rem;
    padding-top: 2rem;
}