body::-webkit-scrollbar{
    display: none;
}
nav {
    background-color: #ff8652;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  
  nav h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
  }
