.movieShow h1{
    text-align: center;
    margin-left: 0.5rem;
    color:rgb(2, 2, 58);
}
.synopsisDeets{
    color:rgb(2, 2, 58);
}
.movieShow img{
    height: 35rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.overview{
    background-color: rgba(135, 221, 236, 0.883);
    width: 29.4%;
    margin-top: -0.2rem;
    padding-top: .5rem;
    text-align: center;
    margin-left: 1rem;
    border: 1px solid wheat;
}
.movie{
   margin-left: 27rem;
   margin-top: -58rem;
   /* border: 3px solid #ff8552; */
   text-align: center;
   width: 20%;
   height: 10rem;
   padding-top: 13rem;
}
.reviews{
    margin-left: 25.2rem;
    width: 68%;
    text-align: center;
    padding-bottom: 5rem;
    margin-top: 12rem;
    height: 10rem;
    padding-top: 10rem;
}
.synopsis{
    padding: .3rem;
}
.reviewsTitle{
    display: block;
    margin-top: -8rem;
    color: wheat;
    
}
.reviewDiv{
    background-color: rgb(225, 108, 50);
    width: 102%;
    text-align: center;
    margin-left: -1.8rem;
    border-radius: 1rem;
    color: wheat;
}
.createBtn{
    width: 10rem;
    height: 2.5rem;
    background-color: #be4511b3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: -35rem;
    display: block;
    margin: 0 auto;
    margin-top: -9rem;
}
.createFormDiv{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 0.5rem;
    text-align: center;
}
.postBtn{
width: 10rem;
height: 2.5rem;
background-color: #fd9437b3;
color: white;
border: none;
border-radius: 5px;
font-size: 1.2rem;
cursor: pointer;
margin: 0 auto;
margin-top: 1rem;

}
.reviewerBox{
    margin: 0 auto;
    text-align: center;
}
.reviewerRate{
    margin: 0 auto;
    text-align: center;
}
.contentBox{
    text-align: center;
    height: 4rem;
}
.reviewEditBtn{
width: 10rem;
height: 2.5rem;
background-color: #fd9437b3;
color: white;
border: none;
border-radius: 5px;
font-size: 1.2rem;
cursor: pointer;
margin: 0 auto;
margin-top: 1rem;
margin-bottom: 1rem;
}
.reviewDelBtn{
width: 10rem;
height: 2.5rem;
background-color: #fd9437b3;
color: white;
border: none;
border-radius: 5px;
font-size: 1.2rem;
cursor: pointer;
margin: 0 auto;
margin-top: 1rem;
margin-left: 1rem;
}